:root {
  --primary-bg: linear-gradient(135deg, #333, #000);
  --navbar-height: 100px;
  --footer-padding: 25px;
  --font-size-base: 1rem;
  --font-size-lg: 1.45rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 3rem;
  --font-color: white;
  --brand-color: #ffffff;
  --hover-color: #ffefba;
  --shadow-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
}
.dropdown-menu {
  background-color: #343a40 !important;
  border: none;
}

.navbar-nav .dropdown-menu a {
  color: #fff;
}

.navbar-nav .dropdown-menu a:hover {
  background-color: #495057;
}

.dropdown-menu button {
  color: #fff;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdown-menu button:hover {
  background-color: #495057;
  color: white;
}

.dropdown-menu button:focus,
.dropdown-menu button:active {
  background-color: transparent;
  color: #fff;
  outline: none;
}

.spin {
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
